@tailwind base;
@tailwind components;
@tailwind utilities;

/* Open Sauce One */
@font-face {
  font-family: 'Open Sauce One';
  src: url('/src/assets/fonts/SauceOne/OpenSauceOne-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sauce One';
  src: url('/src/assets/fonts/SauceOne/OpenSauceOne-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sauce One';
  src: url('/src/assets/fonts/SauceOne/OpenSauceOne-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sauce One';
  src: url('/src/assets/fonts/SauceOne/OpenSauceOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Open Sauce Sans */
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('/src/assets/fonts/SauceOne/OpenSauceSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('/src/assets/fonts/SauceOne/OpenSauceSans-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('/src/assets/fonts/SauceOne/OpenSauceSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('/src/assets/fonts/SauceOne/OpenSauceSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



#root,html,body{
  width: 100%;
  height: 100%;
  font-family: 'Open Sauce One',sans-serif;
}



.bplaceholder::placeholder{
  font-weight: 400 !important;
  font-family: "Open Sauce One",sans-serif!important;
  color: #222222!important;
}

input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hover-up {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-up:hover {
  transform: translateY(-3px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-up-md {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-up-md:hover {
  transform: translateY(-5px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-up-lg {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-up-lg:hover {
  transform: translateY(-10px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-down {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-down:hover {
  transform: translateY(3px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

/* HTML: <div class="loader"></div> */
.loader {
  --d:12px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #222222;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 1px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 1px,
    calc(-1*var(--d))     calc(0*var(--d))     0 1px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 1px,
    calc(0*var(--d))      calc(-1*var(--d))    0 2px;
  animation: l27 1s infinite steps(50);
}
@keyframes l27 {
  100% {transform: rotate(1turn)}
}